/* --- For conversations. --- */
:root {
  --script-context: gray;
  --text-me: #43CC47;
  --text-me-back: white;
  --text-other: #E8E9EA;
  --text-other-back: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --script-context: darkgray;
    --text-me: #1889FF;
    --text-me-back: white;
    --text-other: #333137;
    --text-other-back: white;
  }
}

.act-container {
  padding: 0.5em;
  max-width: 500px;
}

.script-control-menu {
  text-align: center;
}

.script-control-menu #characterSelector {
  border-radius: 9px;
  background-color: var(--text-me);
  color: var(--text-me-back);
}

.message  {
  max-width: 18rem;
  width: fit-content;
  margin: 0.5rem;
}

.message-body {
  border-radius: 16px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.375rem;
  padding-bottom: 0.5rem;
}

/* A message shown to the left. */
.message.left {
  margin-left: 0;
}

.message-body.left {
  color: var(--text-other-back);
  background-color: var(--text-other);
}

/* A message shown to the right. */
.message.right {
  margin-right: 0;
  margin-left: auto;
}

.message-body.right {
  background-color: var(--text-me);
  color: var(--text-me-back);
}

.message-sender {
  color: var(--script-context);
  padding: 0;
  margin: 0.25rem;
  font-size: 12px;
  margin-left: 0.625rem;
}

.message.left > .message-sender {
  text-align: left;
}

.message.right > .message-sender {
  display: none;
}

.message-body > .message-text {
  padding: 0;
  margin: 0;
}

.context {
  color: var(--script-context);
  text-align: center;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
}
