.DS_Store
.idea
*.log
tmp/

.cpcache/
.shadow-cljs/
node_modules/
public/

secrets.py

# Added by cargo
/target
/result

/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/

src/site/.nrepl_port

.direnv/
!.direnv/.git-keep
docs/*
