@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;500;600&display=swap');

/* Global settings for color scheme and such. */

:root {
  /* Inform the browser that color schemes are available. */
  color-scheme: light dark;

  --highlight: #eee8d5;
  --quote-background: grey;

  --link: #484848;
  --highlight-text: #fff;
  --subtle-text: darkgrey;

  --text-color: black;
  --page-background: white;
  --window-background: white;
}

@media (prefers-color-scheme: light) {
  :root {
    --highlight: #eee8d5;
    --quote-background: grey;

    --link: #484848;
    --highlight-text: #fff;
      --subtle-text: darkgrey;

    --text-color: black;
    --page-background: white;
    --window-background: white;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --highlight: #4C5669;
    --quote-background: darkgrey;

    --link: #ccc;
    --highlight-text: #fff;
    --subtle-text: grey;

    --text-color: white;
    --page-background: #111;
    --window-background: #111;
  }
}

.light-theme {
  --highlight: #eee8d5;
  --quote-background: grey;

  --link: #484848;
  --highlight-text: #fff;
  --subtle-text: darkgrey;

  --text-color: black;
  --page-background: white;
  --window-background: white;
  transition: background-color 0.5s ease;
}

.dark-theme {
  --highlight: #4C5669;
  --quote-background: darkgrey;

  --link: #ccc;
  --highlight-text: #fff;
  --subtle-text: grey;

  --text-color: white;
  --page-background: #111;
  --window-background: #111;
  transition: background-color 0.5s ease;
}

html {
  font-size: 14px;
  font-family: "Noto Sans", sans-serif;
  /* For jquery-terminal */
  --font: "Berkeley Mono", monospace;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-wrap: break-word;
  hyphens: auto;
}

body {
  margin: 0;
  padding: 1rem;
  color: var(--text-color);
  background-color: var(--page-background);
}

main {
  max-width: 40rem;
}

@media only screen and (max-width: 500px) {
  body {
    max-width: 100%;
  }

  main {
    max-width: 100%;
  }
}
