.toggle-dark-mode {
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    width: 36px;
    height: 36px;
    overflow: hidden;
    background-color: var(--highlight);
    color: var(--page-background);
}
