/* -- Error Page -- */
.err-page {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid var(--highlight);
  background-color: var(--window-background);
  padding: 0 1rem;
}
