/* Overrides of default HTML components */

/* -- Table -- */
table {
  font-size: 14px;
}

th {
  text-align: left;
  font-weight: normal;
  padding: 0;
}

/* -- Text -- */
h1 {
  margin-top: 0.125em;
  margin-bottom: 1rem;
}

p {
  margin-top: 0.25em;
}

ul {
  padding-left: 1rem;
  list-style-type: "➜ ";
}

pre {
  white-space: pre-wrap;
}

code {
  display: inline-block;
}

a {
  text-decoration: none;
  color: var(--link);
}

a:hover, a:focus {
  background-color: var(--highlight);
  opacity: 0.8;
  padding: 0 3px;
  margin: 0 -3px;
  transition: opacity 0.1s ease-out;
}

a:active {
  color: var(--highlight-text);
}

::selection {
  background-color: var(--highlight);
  color: var(--highlight-text);
}

button {
  background-color: var(--page-background);
  color: var(--text-color);
  transition: background-color 0.075s ease-out;
}
