/* Overrides of default HTML components */

table {
  font-size: 16px;
  border-collapse: collapse;
  width: 100%;
}

th {
  text-align: left;
  font-weight: normal;
  padding: 0;
}

h1 {
  margin-top: 0.125em;
  margin-bottom: 1rem;
}

tr:hover {
  background-color: var(--highlight);
  color: var(--highlight-text);
}

td {
  padding-left: 2px;
  padding-right: 2px;
}

td:not(:first-child) {
  text-align: right;
}

p {
  margin-top: 0.25em;
}

ul {
  padding-left: 1rem;
  list-style-type: "➜ ";
}

pre {
  white-space: pre-wrap;
}

code {
  display: inline-block;
  padding: 0.3em 1em;
  width: 100%;
  font-size: 14px;
  background-color: var(--quote-background);
}

a {
  text-decoration: none;
  color: var(--link);
}

a:hover, a:focus {
  background-color: var(--highlight);
  opacity: 0.8;
  padding: 0 3px;
  margin: 0 -3px;
  transition: opacity 0.1s ease-out;
}

a:active {
  color: var(--highlight-text);
}

::selection {
  background-color: var(--highlight);
  color: var(--highlight-text);
}

button {
  background-color: var(--page-background);
  color: var(--text-color);
  transition: background-color 0.075s ease-out;
  padding: 0.3rem 0.5rem;
  border: 2px solid var(--subtle-text);
}

@media only screen and (max-width: 500px) {
  ul {
    padding-left: 0;
  }
}
