article {
  background: var(--window-background);
  padding: 0.5rem 1rem;
}

/* -- Class selectors -- */
.wikipage {
  margin: 1rem;
}

.aboutMe {
  max-width: 20rem;
}

.foot {
  padding-right: 0.5rem;
}

blockquote.article-quote {
    margin: 0;
}

blockquote.article-quote p {
    padding: 15px;
    background: var(--quote-background);
    border-radius: 5px;
}

blockquote.article-quote p::before {
    content: '\201C';
}

blockquote.article-quote p::after {
    content: '\201D';
}


.sidebar {
  align-self: start; /* do not flex grow */
  margin: 1rem 0.5rem;
  padding: 0.5rem;
  padding-top: 1rem;
  writing-mode: vertical-rl;
  text-orientation: sideways;
  text-align: left;
  vertical-align: left;
  line-height: 20px;
  font-family: 'Noto Sans Mono', monospace;
  font-size: 12px;
  background: var(--window-background);
  position: sticky;
  top: 0;
}

.sidebar .current {
  font-weight: 500;
}

@media only screen and (max-width: 500px) {
  .sidebar {
    writing-mode: horizontal-tb;
    margin: 0;
    padding: 0.5rem;
  }
}

.file-name-tr {
  white-space: nowrap;
  max-width: 180px;
  width: 20vw;
  overflow: hidden;
}

.file-type-row {
  color: var(--subtle-text);
}

.site-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.git-hist-table, .link-info-table, .folder-index-page-table, a.now-playing, .checkbox-menu {
  padding: 0.5rem 1rem;
  margin: 1rem;
  width: auto;
  background-color: var(--window-background);
  align-self: start;
}

@media only screen and (max-width: 500px) {
  .url-cage {
    margin-top: 1rem;
    padding: 0.75rem;
  }
}

.calendar-title {
  color: var(--subtle-text);
}

.month-calendar {
  font-family: 'Noto Sans Mono', monospace;
  margin-top: 0;
}

/* .month-calendar > tr > th { */
/*   font-weight: normal; */
/* } */

.calendar-day {
  text-align: right;
  color: var(--link);
}

.calendar-day:hover {
  background-color: var(--highlight);
}

.current-day {
  background-color: var(--highlight);
  border-left: 2px solid var(--highlight);
  border-right: 2px solid var(--highlight);
}
