@use 'resources/core';

article {
  background: var(--window-background);
  padding: 0.5rem 1rem;
}

/* -- Class selectors -- */
.aboutMe {
  max-width: 20rem;
  padding-top: 20px !important;
  padding-left: 20px !important;
  max-width: 11.5em;
}

.foot {
  padding-right: 0.5rem;
}

blockquote.article-quote {
    margin: 0;
}

blockquote.article-quote p {
    padding: 15px;
    background: var(--quote-background);
    border-radius: core.$border-radius;
}

blockquote.article-quote p::before {
    content: '\201C';
}

blockquote.article-quote p::after {
    content: '\201D';
}

.file-hash-tr {
  color: var(--subtle-text);
  opacity: 0.7;
}

.file-name-tr {
  white-space: nowrap;
  max-width: 180px;
  width: 20vw;
  overflow: hidden;
}

.file-type-tr {
  color: var(--subtle-text);
  opacity: 0.6;
}

.commit-link-tr {
  width: 1%;
  white-space: nowrap;
}

.file-date-tr, .commit-date-tr {
  color: var(--subtle-text);
  opacity: 0.9;
}

.file-date-untracked-tr {
  @extend .file-date-tr;
  color: var(--warning-text);
}

.site-body {
  padding-left: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  overflow-x: hidden;
}

.git-hist-table, .link-info-table, .folder-index-page-table, a.now-playing, .checkbox-menu {
  padding: 0.5rem 1rem;
  margin: 1rem;
  width: auto;
  background-color: var(--window-background);
  align-self: start;
}

.wikipage {
  margin: 1rem;
}

@media only screen and (max-width: 500px) {
  .site-body {
    padding-left: 0;
    padding-top: 0;
  }

  .url-cage {
    margin-top: 1rem;
    padding: 0.75rem;
  }

  .git-hist-table, .link-info-table, .folder-index-page-table, a.now-playing, .checkbox-menu {
    margin-left: 2rem;
    margin-right: 2rem;
    padding-top: 0;
    padding-left: 0;
  }

  .wikipage {
    margin: 0 1rem;
    padding: 0 1rem;
  }

  .file-hash-tr {
    display: none;
  }
}

.article-rhs-container {
  position: relative;
}

.article-rhs {
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
}

.calendar-title {
  color: var(--subtle-text);
}

.month-calendar {
  font-family: 'Noto Sans Mono', monospace;
  margin-top: 0;
}

/* .month-calendar > tr > th { */
/*   font-weight: normal; */
/* } */

.calendar-day {
  text-align: right;
  color: var(--link);
}

.calendar-day:hover {
  background-color: var(--highlight);
}

.current-day {
  background-color: var(--highlight);
  border-left: 2px solid var(--highlight);
  border-right: 2px solid var(--highlight);
}
