@import url("styles/main.css");
body {
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
ul {
    list-style: none;
    padding-left: 18px;
}
li:before {
    display: inline-block;
    margin-left: -18px;
    margin-right: 6px;
    content: '#';
    color: gray;
}
