@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&display=swap');

html {
  font-size: 14px;
  font-family: "Noto Sans", sans-serif;
  word-wrap: break-word;
  hyphens: auto;
}

body {
  max-width: 26rem;
  margin: 0;
  padding: 0rem 4rem;
}

@media only screen and (max-width: 600px) {
  body {
    max-width: 100%;
  }
}

main {
  padding: 1rem;
}

.foot {
  padding-right: 0.5rem;
}

a {
  text-decoration: none;
  color: #484848;
}

a:hover, a:focus {
  background-color: #000;
  color: #fff;
}

a:active {
  color: #fff;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  margin: 1rem 0.5rem;
  margin-left: 0.75rem;
  margin-top: 1.875rem;
  padding: 0.5rem;
  height: 90%;
  writing-mode: vertical-rl;
  text-orientation: sideways;
  text-align: left;
  vertical-align: left;
  line-height: 20px;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
}

.sidebar .current {
  font-weight: 500;
}

.checkbox-menu {
  margin-top: 1rem;
  padding: 0.5rem 0.25rem;
  max-width: 10rem;
  border: 1.5px solid #484848;;
  background-color: hsl(0, 0%, 96.5%);
}

h1 {
  margin: 1rem 0;
}

.title-top {
  margin-top: 0.75rem;
}

.url-cage {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 1rem;
  margin-left: -1rem;
  border-radius: 5px;
}

/* For conversations. */

.conversation > .message  {
  border-radius: 16px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.375rem;
  padding-bottom: 0.5rem;
  max-width: 18rem;
  width: fit-content;
}

/* Message A is the one on the left. */
.conversation > .message.a {
  margin-left: 0;
  color: black;
  background-color: #E8E9EA;
}

/* Message B is the one on the right. */
.conversation > .message.b {
  margin-right: 0;
  margin-left: auto;
  background-color: #43CC47;
  color: white;
}

.conversation > .message > .message-author {
  font-weight: 500;
  margin: 0;
  padding: 0;
  display: none;
}

.conversation > .message > .message-text {
  padding: 0;
  margin: 0;
}

.conversation > .context {
  color: gray;
  text-align: center;
}
