@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&display=swap');

html {
  font-size: 18px;
  font-family: "Noto Sans", sans-serif;
  word-wrap: break-word;
  hyphens: auto;
}

body {
  max-width: 24rem;
  margin: 0;
  padding: 1rem 4rem;
}

.foot {
  padding-right: 0.5rem;
}

a {
  text-decoration: none;
  color: #484848;
}

a:hover {
  background-color: #000;
  color: #fff;
  /* Not a huge fan of these colors. Work on them! */
}

a:visited {
  color: #585858;
}

a:active {
  color: blue;
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  margin: 1rem 0.5rem;
  margin-left: 0.75rem;
  margin-top: 1.875rem;
  padding: 0.5rem;
  height: 90%;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  text-align: left;
  vertical-align: left;
  line-height: 20px;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
}

.checkbox-menu {
  margin-top: 1rem;
  padding: 0.5rem 0.25rem;
  max-width: 10rem;
  border: 1.5px solid #484848;;
  background-color: hsl(0, 0%, 96.5%);
}
