@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&display=swap');

html {
  font-size: 12px;
  font-family: "Noto Sans", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-wrap: break-word;
  hyphens: auto;
}

body {
  margin: 0;
  padding: 1rem;
  background: conic-gradient(from 90deg at 1px 1px, #fff 90deg, #eee8d5 0deg);
  background-size: 40px 40px;
}

blockquote.article-quote {
    margin: 0;
}

blockquote.article-quote p {
    padding: 15px;
    background: #eee;
    border-radius: 5px;
}

blockquote.article-quote p::before {
    content: '\201C';
}

blockquote.article-quote p::after {
    content: '\201D';
}

/* Try these for background: */
/* background-image: radial-gradient(#797979 .5px, transparent .5px); */
/* background-size: calc(40 * .5px) calc(40 * .5px); */

main {
  max-width: 40rem;
}

article {
  background: #fff;
  border: 2px solid #eee8d5;
  padding: 0 1rem;
}

.wikipage {
  margin: 1rem;
}

@media only screen and (max-width: 500px) {
  body {
    max-width: 100%;
  }

  main {
    max-width: 100%;
  }
}

.foot {
  padding-right: 0.5rem;
}

a {
  text-decoration: none;
  color: #484848;
}

a:hover, a:focus {
  background-color: #000;
  color: #fff;
}

a:active {
  color: #fff;
}

::selection {
  background: #000;
  color: #fff;
}

.sidebar {
  align-self: start; /* do not flex grow */
  margin: 1rem 0.5rem;
  padding: 0.5rem;
  padding-top: 1rem;
  writing-mode: vertical-rl;
  text-orientation: sideways;
  text-align: left;
  vertical-align: left;
  line-height: 20px;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 12px;
  background: #fff;
  border: 2px solid #eee8d5;
}

@media only screen and (max-width: 500px) {
  .sidebar {
    writing-mode: horizontal-tb;
    margin: 0;
    padding: 0.5rem;
  }
}

.sidebar .current {
  font-weight: 500;
}

.checkbox-menu {
  margin: 1rem 0;
  padding: 0.5rem 0.25rem;
  max-width: 8rem;
  border: 2px solid #eee8d5;
  background-color: #fff;
  display: none;
}

h1 {
  margin: 1rem 0;
}

pre {
  white-space: pre-wrap;
}

code {
  display: inline-block;
}

.title-top {
  margin-top: 0.75rem;
}

.file-name-tr {
  white-space: nowrap;
  max-width: 180px;
  overflow: hidden;
}

.site-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

table {
  font-size: 14px;
}

th {
  text-align: left;
  padding: 0;
  font-weight: 300;
  color: #282828;
  border-bottom: 2px solid #eee8d5;
}

.git-hist-table, .link-info-table, .folder-index-page-table {
  border: 2px solid #eee8d5;
  padding: 0.5rem 1rem;
  margin: 1rem;
  width: auto;
  background-color: #fff;
  align-self: start;
}

@media only screen and (max-width: 500px) {
  .url-cage {
    margin-top: 1rem;
    padding: 0.75rem;
  }
}

/* For conversations. */

.conversation > .message  {
  border-radius: 16px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.375rem;
  padding-bottom: 0.5rem;
  max-width: 18rem;
  width: fit-content;
}

/* Message A is the one on the left. */
.conversation > .message.a {
  margin-left: 0;
  color: black;
  background-color: #E8E9EA;
}

/* Message B is the one on the right. */
.conversation > .message.b {
  margin-right: 0;
  margin-left: auto;
  background-color: #43CC47;
  color: white;
}

.conversation > .message > .message-author {
  font-weight: 500;
  margin: 0;
  padding: 0;
  display: none;
}

.conversation > .message > .message-text {
  padding: 0;
  margin: 0;
}

.conversation > .context {
  color: gray;
  text-align: center;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

ul {
  padding-left: 1rem;
  list-style-type: "➜ ";
}

/* LastFM live music */
a.now-playing {
  display: inline-block;
  padding: 1rem;
  border: 2px solid #eee8d5;
  background: #fff;
  margin: 1rem;
  max-width: 25rem;
  align-self: start; /* do not flex grow */
}

a.now-playing:hover, a.now-playing:focus {
  background: #eee8d5;
  color: #000;
}

.now-playing img {
  opacity: 0;
  width: 20rem;
  height: auto;
}

.now-playing.loaded img {
  opacity: 1;
}

.np-metadata {
  max-width: 20rem;
  text-align: center;
  padding-top: 0.5rem;
}

.now-playing .np-metadata .np-heading {
  letter-spacing: 0.11em;
}

.now-playing .np-metadata .np-roon {
  width: 10px;
  opacity: 0.5;
}

.err-page {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #eee8d5;
  background-color: #fff;
  padding: 0 1rem;
}
